<h1><%= @movie.title %></h1>

<p><strong>MPAA Rating: </strong><%= @movie.rating %> </p>
<p><strong>Length: </strong><%= @movie.length %> minutes</p>
<p><strong>Lead Actor: </strong><%= @movie.lead_actor %> </p>

<h2>Famous Quotes</h2>
<% @movie.famous_quotes.each do |q| %>
  <p>"<em><%= q.quote %></em>" -<%= q.actor %></p> <br />
<% end  %>

<form method="post" action="/rentals/new">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <%= tag(:input, :type => "hidden", :name => :customer_id, :value => current_user.id) %>
  <%= tag(:input, :type => "hidden", :name => :movie_id, :value => @movie.id) %>
  <input type="submit" value="Rent Movie">
</form>
