<h1><%= @customer.name %>'s Profile Page </h1>

<p>Email: <%= @customer.email %></p>
<p>Age: <%= @customer.age %></p>

<div style="width:50%">
  <%= check_for_age(@customer) %>
</div>

<h3><%= link_to "Edit your profile", edit_customer_path(@customer.id) %></h3>
