<% if @message %>
    <p><%= @message %></p>
<% end %>

<h1>My Rentals</h1>
<% @checked_out = [] %>
<% @past_rentals = [] %>

<% @rentals.each do |rental| %>
  <% if rental.status == "checked out" %>
    <% @checked_out << rental %>
  <% elsif rental.status == "returned"%>
    <% @past_rentals << rental %>
  <% end %>
<% end %>

<h3>Currently Checked Out:</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>MPAA Rating</th>
      <th>Length</th>
      <th>Lead Actor</th>
    </tr>

    <% @checked_out.each do |rental| %>
      <tr>
        <td><%= link_to rental.movie.title, movie_path(rental.movie.id) %></td>
        <td><%= rental.movie.rating %></td>
        <td><%= rental.movie.length %> minutes</td>
        <td><%= rental.movie.lead_actor %></td>
      </tr>
    <% end %>

  </table>

<h3>Past Rentals:</h3>
<table>
  <tr>
    <th>Title</th>
    <th>MPAA Rating</th>
    <th>Length</th>
    <th>Lead Actor</th>
  </tr>

  <% @past_rentals.each do |rental| %>
    <tr>
      <td><%= link_to rental.movie.title, movie_path(rental.movie.id) %></td>
      <td><%= rental.movie.rating %></td>
      <td><%= rental.movie.length %> minutes</td>
      <td><%= rental.movie.lead_actor %></td>
    </tr>
  <% end %>

</table>
