<h1>Add a Famous Quote from <%= @famous_quote.movie.title %></h1>
<%= form_for(@famous_quote) do |f| %>

  <%= f.label :quote, "Quote:" %> <br>
  <%= f.text_area_tag :quote %>
  <br></br>

  <%= f.label :actor, "Actor:" %> <br>
  <%= f.text_field :actor %>
  <br></br>

  <%= f.submit %>
<% end %>
