<!DOCTYPE html>
<html>
  <head>
    <title>MovieRentalRailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">

        <a class="navbar-brand" href="/"/>Home</a>
        <% if current_user %>
          <a class="navbar-brand" href="/movies" id='all-movies'>All Movies</a>
          <a class="navbar-brand" href="/customers/<%=current_user.id%>"/>My Profile</a>
          <a class="navbar-brand" href="/customers/<%=current_user.id%>/rentals"/>My Rentals</a>
          <a class="navbar-brand" href="/logout"/>Log Out</a>
        <% else %>
          <a class="navbar-brand" href="/signup"/>Sign Up</a>
          <a class="navbar-brand" href="/login"/>Log In</a>
        <% end %>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
    <div id="all-movies-container">ALL MOVIES LOADS HERE ... </div>
      <%= yield %>
    </div>
  </body>
</html>
